[tool.poetry]
name = "sport-activities-features"
version = "0.2.11"
description = "A minimalistic toolbox for extracting features from sport activity files"
authors = ["iztokf <iztokf@fedoraproject.org>"]

[tool.poetry.dependencies]
python = ">= 3.6.0, < 4.0.0"
matplotlib = "^3.3.3"
geopy = "^2.0.0"
tcxreader = "^0.3.0"
requests = "^2.25.1"
niaaml = "^1.1.6"
overpy = "^0.6"
gpxpy = "^1.4.2"
geotiler = "^0.14.5"
dotmap = "^1.3.25"

[tool.poetry.dev-dependencies]
Sphinx = "^3.5.1"
sphinx-rtd-theme = "^0.5.1"
coveralls = "^2.2.0"
pytest = "^3.4.0"
interrogate = "^1.3.2"
autoflake = "^1.4"
black = "^21.7b0"
pre-commit = "^2.14.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
    
[tool.interrogate]
ignore-init-method = true
ignore-init-module = false
ignore-magic = false
ignore-semiprivate = false
ignore-private = false
ignore-property-decorators = false
ignore-module = false
fail-under = 10
exclude = ["setup.py", "docs", "build"]
ignore-regex = ["^get$", "^mock_.*", ".*BaseClass.*"]
verbose = 0
quiet = false
whitelist-regex = []
color = true
