[tool.poetry]
name = "sport-activities-features"
version = "0.2.0"
description = "A minimalistic toolbox for extracting features from sport activity files"
authors = ["iztokf <iztokf@fedoraproject.org>"]

[tool.poetry.dependencies]
python = "^3.6.1"
matplotlib = "^3.3.3"
geopy = "^2.0.0"
tcxreader = "^0.3.0"
requests = "^2.25.1"
niaaml = "^1.1.1"
overpy = "^0.6"

[tool.poetry.dev-dependencies]
Sphinx = "^3.5.1"
sphinx-rtd-theme = "^0.5.1"
coveralls = "^2.2.0"
pytest = "^3.4.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
    
